.nav-bar-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem;
  background-color: #3399ff;
}

.nav-links-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  justify-content: flex-start;
  width: 80%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav-links-div a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: 600;
  padding: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.cart-link {
  width: 54px;
  height: 23px;
  text-align: center;
}

.nav-links-div a:hover,
.active {
  box-shadow: 0 0 10px white;
  transition: all 0.2s ease;
}

.cart-qty {
  background-color: rgb(255, 68, 68);
  color: white;
  font-size: xx-small;
  padding: 5px;
  border-radius: 90%;
}
